.places {
    width: 100%;
}

.places h1,
.places h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.places h2 {
    text-align: center;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}

.places :last-child {
    margin-left: auto;
    margin-right: auto;
}
